#sidebar{
	height: 100%;
	width: 10em;
	position: relative;
	background-color: black;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

#sidebar #shownSidebar, #sidebar #hiddenSidebar{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

#sidebar.hideIt{
	position: absolute;
	height: auto;
	width: auto;

	background-color: transparent;
	float: left;

	z-index: 1000;
}

/* logo */
#sidebar .sideBarLogo {
	width: 100%;
	height: auto;
}

/* meuList */
#sidebar .menuList{
	width: 9em;
	margin: 0.5em;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#sidebar .menuList .sidebarDiv{
	height: 2em;
	width: 9em;
	margin: 0.2em 0em;
	background: rgb(60, 60, 60);
	border: thin solid rgb(167, 47, 47);
	text-align: center;
}

#sidebar .menuList a .sidebarDiv, #sidebar .menuList #nextStage .sidebarDiv {
	color: rgb(219, 219, 219);
	text-decoration: none;
}

/* link icons */
#sidebar #linkIcons {
	margin: 1em;
	bottom: 1em;
}

#sidebar #linkIcons i{
	width: 2em;
	height: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	-o-border-radius: 2em;
	-ms-border-radius: 2em;
	border-radius: 2em;

	color: white;

	margin: 0.25em;

	text-align: center;
	line-height: 2em;
}

/* menu icon */
#sidebar label i.hiddenIcon {
	font-size: 2em;
	background-color: black;

	color: white;

	margin: 10px 0 0 10px;
	padding: 2px 6px;
	border: 1px solid black;
	border-radius: 2px;
}

#sidebar label{
	position: fixed;
	z-index: 1;
	left: 0px;
}

#sidebar #hiddenSidebar {
	position: fixed;
	z-index: 10;
	width: 10em;
	height: 100vh;
	top: 0;
	left: -10em;
	background-color: black;

	transition: left .5s, right .5s;
}

#sidebar #openMenu, #sidebar #closeMenu{
	display: none;
}

#sidebar #openMenu:checked ~ #hiddenSidebar{
	left: 0;
}

#sidebar #openMenu:checked ~ label[for="closeMenu"] #blurBg{
	position: fixed;
	display: block;
}

#sidebar #closeMenu:checked ~ #hiddenSidebar{
	left: -10em;
}

#sidebar #blurBg{
	position: fixed;

	width: 100vw;
	height: 100vh;
	background-color: transparent;

	display: none;
}